<div class="sql-home">

 {% if site.data.cookies %}
        <div class="cookies">
            <!-- TODO: HARD-TEXT, MORE LIKE HARM-TEXT. -->
            <h1 class="cookie-header">
                <span aria-hidden="true">Cookies For Sale</span>
            </h2>
            {% for cookie in site.data.cookies %}
            {% assign item = cookie[1] %}
            <div class="cookie-listing">
                <a class="cookie-link" href="{{item.url}}" target="_blank">
                    <img class="cookie-icon"
                         src="{{item.logoUrl}}" alt="{{item.logoAltText}}">
                    <h2 class="cookie-title">
                        <span aria-hidden="true">{{item.title}}</span>
                    </h2>
                    <strong>Price: ${{item.price}} per clamshell box </strong>
                </a>
                <div class="cookie-description">{{item.description}}</div>
            </div>
            {% endfor %}
        </div>
{% endif %}


</div>
