@import 'variables';
@import 'mixins/fonts';

// Fonts
@include font-include('Segoe UI', '//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest', $font-weight-light, normal);
@include font-include('Segoe UI', '//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest', $font-weight-normal, normal);
@include font-include('Segoe UI', '//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest', $font-weight-bold, normal);

@import url('//use.fontawesome.com/releases/v4.7.0/css/font-awesome-css.min.css');
/* FONT PATH
 * -------------------------- */
@font-face {
    font-family: "FontAwesome";
    src:url('../assets/fontawesome-icons.woff');
    // src: url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot');
    // src: url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'), url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}